*,
*::before,
*::after {
 	box-sizing: border-box;
}

body {
	font: 400 15px/1.2 "Lato", sans-serif;
	background: #fc00ff;
	background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
	background: linear-gradient(to right, #00dbde, #fc00ff);
}

.fixed-bot-nav {
	position: fixed;
	bottom: 0;
	right: 15px;
	z-index: 13000;
}

.fixed-bot-nav-item {
	width: 50px;
	text-align: center;
	height: 50px;
	color: white;
	border-radius: 50%;
	margin-bottom: 10px; 
}

.fixed-bot-nav-item a {
	color: white;
	font-size: 20px;
}
.fixed-bot-nav-item a i {
	margin-top: 15px;
}

.fb {
	background-color: #3b5998;
}

.messenger {
	background-color: #0084ff;
}

.google {
	background-color: #c71610;
}
