*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font: 400 15px/1.2 "Lato", sans-serif;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	text-align: center;
	background: rgba(137, 183, 204,.8);
}

.navbar-bg-dark {
	background: rgba(0,0,0,.8);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 50px;
  overflow: hidden;
  text-align: center;
  /*background-color: #333;*/
}

.navbar ul li {
	float: left;
}

.navbar ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar ul li a:hover {
	background-color: #fff;
	color: #89B7CC;
}

.navbar ul .pull-right {
	float: right;
}

.navbar ul .right-brand {
	margin-right: 30px;
	background: yellow;
}

.navbar ul .right-brand a {
	color: black;
	cursor: initial;
	font-weight: bold;
}

.fixed-bot-nav {
	position: fixed;
	bottom: 0;
	right: 15px;
	z-index: 13000;
}

.fixed-bot-nav-item {
	width: 50px;
	text-align: center;
	height: 50px;
	color: white;
	border-radius: 50%;
	margin-bottom: 10px; 
}

.fixed-bot-nav-item a {
	color: white;
	font-size: 20px;
}
.fixed-bot-nav-item a i {
	margin-top: 15px;
}

.fb {
	background-color: #3b5998;
}

.messenger {
	background-color: #0084ff;
}

.google {
	background-color: #c71610;
}
